/* Write your CSS here */
.app-team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-matches-container {
  width: 90%;
  margin-top: 40px;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .team-matches-container {
    margin-top: 56px;
    max-width: 1110px;
  }
}
